{% extends 'Admin_templates/admin_base.html' %}
{% load static %}
{% block 'content'%}
<br>
<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="page-header">
          <h2 class="pageheader-title">WoodMart Furniture Stores Dashboard </h2>
          <p class="pageheader-text">Nulla euismod urna eros, sit amet scelerisque torton lectus vel mauris facilisis faucibus at enim quis massa lobortis rutrum.</p>
          <div class="page-breadcrumb">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Category Form</li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
</div>
<br>
    <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    
                    {% if keys %}
                      <h2 class="card-title"><b><u>Update Category</u></b></h2>
                      <p class="card-description">Update Category Details</p>
                    {% else %}
                      <h2 class="card-title"><b><u>Add Category</u></b></h2>
                      <p class="card-description">Add Category Details</p>
                    {% endif %}
                    <form class="forms-sample" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="exampleInputName1">Category Name</label>
                        <input type="text" class="form-control" name="cnm" value="{{ keys.c_name }}" id="exampleInputName1" placeholder="category Name">
                      </div>

                      <div class="form-group">
                        {% if keys.c_image %}
                          <img src="{{ keys.c_image.url }}" width="200px">
                        {% endif %}<br><br>
                        <label>Category image</label>  
                        <input type="file" name="img" class="file-upload-default">
                      </div>
                      <br>
                      
                      {% if keys %}
                        <button type="submit" class="btn btn-success mr-2">Update</button>
                      {% else %}
                        <button type="submit" class="btn btn-success mr-2">Add</button>
                      {% endif %}
                      <a href='{% url "category_form" %}' class="btn btn-light">Cancel</a>
                    </form>
                  </div>
                </div>
              </div>

{% endblock 'content' %}