{% extends 'base.html' %}
{% load static %}
{% block home %}


  <!-- map -->
   <div class="contact">
         <div class="container-fluid padddd">
           
            <div class="row">
               <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 padddd">
                <div class="map_section">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3672.263166252129!2d72.56245491471668!3d23.014107622420024!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395e856658db9121%3A0x2ff3897067aa47a7!2sPaldi%20Bus%20Station!5e0!3m2!1sen!2sin!4v1635500485222!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
               </div>
               </div>
               <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 padddd">
                <form class="main_form">
                   <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                         <label class="form-control" type="text" name="Name">Best Cleaning Service</label>
                      </div>
                       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                         <label class="form-control"  type="text" name="Email">cleaningservice@gmail.com</label>
                      </div>
                       <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                         <label class="form-control" placeholder="Phone" type="text" name="Phone">+91837643478</label>
                      </div>
                       
                   </div>
                </form>
               </div> 
            </div>
         </div>
      </div>
      <!-- end map --> 
     
{%endblock home %}